

@media screen and (max-width: 600px) {
  .footer {
    position: fixed;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .footer a {
    float: none;
    display: block;
    text-align: left;
    position: fixed;
  }
  .footer-left {
    float: none;
    position: fixed;
  }
img #oldmain {
    height: auto;
    width: 80%;
  }

  .row {
    flex-direction: column;
  }
  .news{
    flex-direction: column;
    height: 33.33%;
  }
  /*
  #studypic {
    height: auto;
    width: auto;
    display block;
    float: none;
    align-items: vertical;
  }
 #researchpic {
   height: auto;
   width:auto;
   float: none;
   margin-right: 0;
   border: 0;
  }/* */
 .column {
  width: 100%;
  height:auto;
  border-right: none;
}
div .notes {
  width: 100%;
  height: 33.333%
  border-right: none;
  position: static;
}

div .notes p2 {
  font-size: .8em;
  text-align: center;
}

div #studentquote {
/* padding: 20px 10px;
 display:block;*/
 position: static;
}
div #studentquote {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 18px;
}
#studentquote span:first-child{
  text-align: center;
  margin-top: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
}
#studentquote span:last-child{
  display: none;
}

div #maintext {
  text-align: center;
  color: black;
  position: static;
  font-size: 1.8em;
  top:auto;
  left:auto;
}
div #subtext {
  text-align: center;
  font-style: oblique;
  color: black;
  position: static;
  font-size: 1.4em;
}
div #image_container {
  position: static;
  width: 100%;
  bottom: 0;
  height:inherit;
}
div #peter {
  display: none;
}
div .researchbodytotal {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
div .researchbodytotal h2, h3, h4 {
  text-align: right;
}
div .researchbodytotal .researchbodypic {
  width: 100%;
}
div .researchbodytotal p {
  text-align: center;
  flex-direction: column;
}
div .studybodytotal {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
div .studybodytotal h2, h4 {
  text-align: right;
}
div .studybodytotal .studybodypic {
  width: 100%;
}
div .studybodytotal p {
  text-align: center;
  flex-direction: column;
}
}
/* h1 {
  color: black;
  margin: auto;
} */
/* ul li {
  color: gray;
  display: inline;
  margin-right: 20px;
  font-size: 1.2em
  position: relative;
} */

.header {
  overflow: hidden;
  background-color: #A993ff;
  padding: 20px 10px;
}
.footer{
  overflow: hidden;
  background-color: #A993FF;
  padding: 20px 10px;
}
.footer a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Quattrocento', serif;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Quattrocento', serif;
}
.header a.logo {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Quattrocento', serif;
}
.footer a.logo {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Quattrocento', serif;
}
.header a.active {
  background-color: #9A55B2;
  color: white;
  font-family: 'Quattrocento', serif;
}
.footer a.active {
  background-color: #9A55B2;
  color: white;
  font-family: 'Quattrocento', serif;
}
.header-right {
  float: right;
  font-family:'Quattrocento Sans', sans-serif;
}
.footer-left {
  float: left;
  font-family: 'Quattrocento Sans', sans-serif;
}

#oldmain {
  position: relative;
  height: 100%;
  width: 100%;
  margin:auto;
   }
 #image_container {
   width: 80%;
   height: 80%;
   position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
/*  background-color: white;/*
  */ position: relative;
  /* text-align: left; */
  padding-top: 25px;
}

#maintext {
  position: absolute;
  /* top: 20px; */
  /* right: 15px; */
  top: 90px;
  left: 60px;
  font-size: 2em;
  font-style: oblique;
  color: white;
  z-index: 10;
}
#subtext{
  position: absolute;
  /* top: 20px; */
  /* right: 15px; */
  bottom: 90px;
  right: 60px;
  font-size: 1.2em;
  font-style: oblique;
  color: white;
  z-index: 10;
}
.newssub {
  position: fixed;
  font-size: 1em;
  bottom:200px;
  margin-left: 15px;
}
.newssub_bottom {
  position: fixed;
  font-size: 1em;
  bottom: 180px;
  margin-left: 15px;
}
.notes p2{
  position:relative;
  text-align: left;
  font-size: 1em;
  bottom: 200px;
  margin-left: 50px;
  word-break: break-all;
  word-wrap: break-word;
  font-family: 'Quattrocento Sans', sans-serif;
}
* {
  box-sizing: border-box;
}

/*.img-frame{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}/*
/*
.studypic {
  float: left;
  display: inline-block;
  margin:15px;
  background:transparent;
  padding:8px;
  border:.5em solid #999999;
}*/
.caption {
  text-align:center;
  margin-top:4px;
  font-size: 1.8em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.news_caption {
  text-align: center;
  margin-top: 4px;
  font-size: 1.5em;
  word-break: break-all;
  font-family: 'Quattrocento Sans', sans-serif;
}
/*
.researchpic{
  float: right;
  display:inline-block;
  margin: 15px;
  background:transparent;
  padding:8px;
  border:.5em solid #999999;}
/*.column {
  overflow: hidden;
  display: block;
  margin: 20px;
  padding: 20px;
  top: 35px;
  height: auto;
  max-width: auto;
  overflow-x:auto;
}*/

.row {
  display: flex;
  margin-top: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
}
.column {
  flex: 50%;
  padding-left: 5px;
  font-family: 'Quattrocento Sans', sans-serif;
}
.news {
  display: flex;
  margin-top: 20px;
}
.notes {
  flex: 33.333%;
  padding-left: 5px;
}
/*#studyresearch{
 width: 80%;
 height: 80%;
 position: absolute;
 margin:auto;
 top:0;
 bottom:0;
 left:0;
 right:0;
 background-color: white;
 position: relative;
 padding-top: 25px;
 position: inline;
}*/
/*#studypic {
  overflow: hidden;
  position: inline;
  height: 50%;
  width: 50%;
  margin:auto;
  float:left;
  margin: 5px;
  padding-left: :5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
#researchpic {
overflow: hidden;
position: inline;
box-sizing: border-box;
height: 50%;
width: 50%;
margin: 5px;
padding: 5px;
padding-left: 5px;
padding-right: 5px;
margin-left: 5px
float: right;
object-fit: scale-down;
margin-bottom: 15px;
}/*
/* #studentquote{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}/*
*/
/*#studentquote {
  overflow: hidden;
  margin: 25px;
  padding: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f1f1f1;
  height: 40%;
  width: 100%;
  word-break: break-all;
}
h1 {
  font-size: 1.8em;
  font-style: oblique;
}
p {
  font-size: 1.3em
  word-break:break-all;
  float: right;
  word-wrap:
} /*
*/#peter {
  vertical-align: middle;
  display: table-cell;
  padding-right: 20px;
  padding-left: 5px;
  position: relative;
  margin-top: 0;
  height: auto;
  width: auto;
}
#studentquote {
  display:table;
  background-color: #A993FF;
  font-size: 1.3em;
  font-style: oblique;
  font-family: 'Quattrocento Sans', sans-serif;
}
span {
  vertical-align: middle;
  display: table-cell;
  padding-right: 60px;
}
.researchpageinfo {
  display: table;
  background-color: #A993FF;
  font-size: 1.5em
  font-style:normal;
  margin: 20px;
}
.researchbodypic {
  style= "float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  border: solid black 1px;
  padding: 2px;
  display: table-cell;
}
.studybodypic {
  style= "float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  border: solid black 1px;
  padding: 2px;
  display: table-cell;
}
.researchbodytotal {
  display:block;
}
.researchbody1 {
  display: table;
  background-color: #A993FF;
  padding: 15px;
  border-width: .5em;
  border: solid black;
}
.researchbody1 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.researchbody1 h2 {
  font-size: 2em;
font-family: 'Quattrocento', serif;
}
.researchbody2 {
  display: table;
  background-color: #A993FF;
  padding: 15px;
  border-width: .5em;
  border: solid black;
  margin-top: 15px;
}
.researchbody2 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.researchbody2 h3 {
  font-size: 2em;
  font-family: 'Quattrocento', serif;
  text-align: right;
}
.researchbody3 {
  display: table;
  background-color: #A993FF;
  padding: 15px;
  border-width: .5em;
  border: solid black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.researchbody3 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.researchbody3 h4 {
  font-size: 2em;
  font-family: 'Quattrocento', serif;
}
.studybody1 {
  position: relative;
  display: table;
  background-color: #A993FF;
  padding: 15px;
  border-width: .5em;
  border: solid black;
}
.studybody1 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.studybody1 h2 {
  font-size: 2em;
 font-family: 'Quattrocento', serif;
}
.studybody2 {
  position: inherit;
  display: table;
  background-color: #A993ff;
  padding: 15px;
  border-width: .5em;
  border: solid black;
  margin-top: 15px;
}
.studybody2 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.studybody2 h3 {
  font-size: 2em;
  font-family: 'Quattrocento', serif;
  text-align: right;
}
.studybody3 {
  position: inherit;
  display: table;
  background-color: #A993FF;
  padding: 15px;
  margin-top: 15px;
  border-width: .5em;
  border: solid black;
  margin-bottom: 20px;
}
.studybody3 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.studybody3 h4 {
  font-size: 2em;
  font-family: 'Quattrocento', serif;
}
h1 {
  font-family: 'Quattrocento', serif;
  font-size: 2.6em;
}
