

/* This media query is for a desktop and when the width is greater than 600px.
The only item in this query is the dropdown menu so it isn't present when the header is there
*/

@media screen and (min-width: 600px) {
.dropdown {
   display: none;
 }
}

/* These are all the media queries for when the screen is mobile/less than 600px
*/

@media screen and (max-width: 600px) {

  /* The navigation bar will appear on mobile.
  I referred to https://www.w3schools.com/css/css_dropdowns.asp to assist with this */
.navbar {
    background-color: #A993ff;
    font-family: 'Quattrocento', serif;
    font-size: 3em;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
  z-index: 200;
}
.dropdown-links {
  display: none;
  position: absolute;
  background-color: #C0AABD;
}
.dropdown-links a {
  color: black;
  padding: 12px 16px;
  display: block;
  font-family: 'Quattrocento Sans', sans-serif;
}
.dropdown-links a:hover {
  background-color: #791B99;
}
.dropdown:hover .dropdown-links {
  display: block;
}
.dropdown:hover .navbar {
  background-color: #9A55B2;
}

/* This query makes sure my header doesn't show up when the nav bar is there */

.header {
  display: none;
}
  .header a {
    display: none;
  }
  .header-right {
    display: none;
  }

  /* This query is for the footer, making sure it adjusts in size when the screen
  is smaller */

div.footer a {
    float: none;
    font-size: 10px;
    display: inline;
    text-align: center;
    padding: 15px;
      }
div.footer-left {
    float: none;
    text-align: center;
    font-size: 10px;
  }
  div.footer a.logo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  div .footer {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }


  img#oldmain {
    height: 60%;
    width: 100%;
    position: static;
  }


  /* These queries address the rows for the study/research and news sections,
  making sure they go from inline to vertical.
  I referred to this: https://www.w3schools.com/css/css3_flexbox.asp */

  .row {
    flex-direction: column;
  }
  .news{
    flex-direction: column;
    height: 33.33%;
  }

 .column {
  width: 100%;
  height:auto;
  border-right: none;
}
div .notes {
  width: 100%;
  height: 33.333%;
  border-right: none;
  position: static;
}

div .notes p {
  font-size: 1em;
  text-align: center;
  position: static;
  margin-left: 0;
}

/* This targets the student box, making sure the image moves from
on the page to off of it when in mobile */

div #peter {
  display: none;
}
div #studentquote {
/* padding: 20px 10px;
 display:block;*/
 position: static;
}
div #studentquote {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 18px;
}
#studentquote span:first-child{
  text-align: center;
  margin-top: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
}
#studentquote span:last-child{
  display: none;
}

/* This targets the main container, making sure the text moves from
on the photo to off of it when in mobile */

div #maintext {
  text-align: center;
  color: black;
  position: static;
  font-size: 1.8em;
  top:auto;
  left:auto;
}
div #subtext {
  text-align: center;
  font-style: oblique;
  color: black;
  position: static;
  font-size: 1.4em;
}
div #image_container {
  position: static;
  width: 100%;
  bottom: 0;
  height:inherit;
}
img#oldmain {
  height: 60%;
  width: 100%;
  position: static;
}

/* This targets the research page body, making sure the columns stack vertically */
div .researchbodytotal {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
div .researchbodytotal h2, h3, h4 {
  text-align: right;
}
div .researchbodytotal .researchbodypic {
  width: 100%;
  height: auto;
}
div .researchbodytotal p {
  text-align: center;
  flex-direction: column;
}

/* This targets the study page making sure the columns stack vertically*/

div .studybodytotal {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
div .studybodytotal h2, h4 {
  text-align: right;
}
div .studybodytotal .studybodypic {
  width: 100%;
  height: auto;
}
div .studybodytotal p {
  text-align: center;
  flex-direction: column;
}
}

/* Media queries end here */

/* This sets the color and style for my header and footer.
As aforementioned in HTML homepage, I wrote the code for footer based off of header */

.header {
  overflow: hidden;
  background-color: #A993ff;
  padding: 20px 10px;
}
.footer{
  overflow: hidden;
  background-color: #A993FF;
  padding: 20px 10px;
}
.footer a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Quattrocento', serif;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Quattrocento', serif;
}
.header a.logo {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Quattrocento', serif;
}
.footer a.logo {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Quattrocento', serif;
}
.header a.active {
  background-color: #9A55B2;
  color: white;
  font-family: 'Quattrocento', serif;
}
.footer a.active {
  background-color: #9A55B2;
  color: white;
  font-family: 'Quattrocento', serif;
}
.header-right {
  float: right;
  font-family:'Quattrocento Sans', sans-serif;
}
.footer-left {
  float: left;
  font-family: 'Quattrocento Sans', sans-serif;
}

/* These style the main picture and font  */

#oldmain {
  position: relative;
  height: 100%;
  width: 100%;
  margin:auto;
   }
 #image_container {
   width: 80%;
   height: 80%;
   position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position: relative;
  padding-top: 25px;
}

#maintext {
  position: absolute;
  top: 90px;
  left: 60px;
  font-size: 2em;
  font-style: oblique;
  color: white;
  z-index: 10;
}
#subtext{
  position: absolute;
  bottom: 90px;
  right: 60px;
  font-size: 1.4em;
  font-style: oblique;
  color: white;
  z-index: 10;
}

/* These position and style the news section on the homepage */
.newssub {
  position: fixed;
  font-size: 1em;
  bottom:200px;
  margin-left: 15px;
}
.newssub_bottom {
  position: fixed;
  font-size: 1em;
  bottom: 180px;
  margin-left: 15px;
}
.notes p {
  position:relative;
  text-align: left;
  font-size: 1em;
  bottom: 200px;
  margin-left: 50px;
  word-break: break-all;
  word-wrap: break-word;
  font-family: 'Quattrocento Sans', sans-serif;
}
* {
  box-sizing: border-box;
}

.caption {
  text-align:center;
  margin-top:4px;
  font-size: 1.8em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.news_caption {
  text-align: center;
  margin-top: 4px;
  font-size: 1.5em;
  word-break: break-all;
  font-family: 'Quattrocento Sans', sans-serif;
}

/* The study/research and news sections were created based off of each other so I wrote the style one on top of the other
so I could refer to what I did for one */

.row {
  display: flex;
  margin-top: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
}
.column {
  flex: 50%;
  padding-left: 5px;
  font-family: 'Quattrocento Sans', sans-serif;
}
.news {
  display: flex;
  margin-top: 20px;
}
.notes {
  flex: 33.333%;
  padding-left: 5px;
}

/* This is the picture on the student quote. Used with consent from my friend Peter */
#peter {
  vertical-align: middle;
  display: table-cell;
  padding-right: 20px;
  padding-left: 5px;
  position: relative;
  margin-top: 0;
  height: auto;
  width: auto;
}
#studentquote {
  display:table;
  background-color: #A993FF;
  font-size: 1.3em;
  font-style: oblique;
  font-family: 'Quattrocento Sans', sans-serif;
}
span {
  vertical-align: middle;
  display: table-cell;
  padding-right: 60px;
}

/* These target the research and study pages, setting font size, position, text style, etc.
I designed the research page first and because the pages have the same layout, I wrote the style for each right on top of the other
so I could refer to what I did for the research since it worked  */
.researchpageinfo {
  display: table;
  background-color: #A993FF;
  font-size: 1.5em;
  font-style:normal;
  margin: 20px;
}
.researchbodypic {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  border: solid black 1px;
  padding: 2px;
  display: table-cell;
  height: 180px;
  width: 180px;
}
.studybodypic {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  border: solid black 1px;
  padding: 2px;
  display: table-cell;
  height: 210px;
  width: 210px;
}
.researchbodytotal {
  display:block;
}
.researchbody1 {
  display: table;
  background-color: #A993FF;
  padding: 15px;
  border-width: .5em;
  border: solid black;
}
.researchbody1 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.researchbody1 h2 {
  font-size: 2em;
font-family: 'Quattrocento', serif;
}
.researchbody2 {
  display: table;
  background-color: #A993FF;
  padding: 15px;
  border-width: .5em;
  border: solid black;
  margin-top: 15px;
}
.researchbody2 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.researchbody2 h3 {
  font-size: 2em;
  font-family: 'Quattrocento', serif;
  text-align: right;
}
.researchbody3 {
  display: table;
  background-color: #A993FF;
  padding: 15px;
  border-width: .5em;
  border: solid black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.researchbody3 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.researchbody3 h4 {
  font-size: 2em;
  font-family: 'Quattrocento', serif;
}
.studybody1 {
  position: relative;
  display: table;
  background-color: #A993FF;
  padding: 15px;
  border-width: .5em;
  border: solid black;
}
.studybody1 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.studybody1 h2 {
  font-size: 2em;
 font-family: 'Quattrocento', serif;
}
.studybody2 {
  position: inherit;
  display: table;
  background-color: #A993ff;
  padding: 15px;
  border-width: .5em;
  border: solid black;
  margin-top: 15px;
}
.studybody2 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.studybody2 h3 {
  font-size: 2em;
  font-family: 'Quattrocento', serif;
  text-align: right;
}
.studybody3 {
  position: inherit;
  display: table;
  background-color: #A993FF;
  padding: 15px;
  margin-top: 15px;
  border-width: .5em;
  border: solid black;
  margin-bottom: 20px;
}
.studybody3 p {
  font-size: 1.4em;
  font-family: 'Quattrocento Sans', sans-serif;
}
.studybody3 h4 {
  font-size: 2em;
  font-family: 'Quattrocento', serif;
}
/* This style targets the font which is the headline on both study and research pages */
h1 {
  font-family: 'Quattrocento', serif;
  font-size: 2.6em;
}
