

/* h1 {
  color: black;
  margin: auto;
} */
/* ul li {
  color: gray;
  display: inline;
  margin-right: 20px;
  font-size: 1.2em
  position: relative;
} */

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 40px;
  font-weight: bold;
}
.header a.active {
  background-color: dodgerblue;
  color: white;
}
.header-right {
  float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  #oldmain {
    height: auto;
    width:auto;
  }
  #studypic {
    height: auto;
    width: auto;
    float: left;
    display block;
  }
 #researchpic {
   height: auto;
   width:auto;
   float: right;
   display: block;
 }
 .column {
  width: 100%;
}
#studentquote {
 padding: 20px 10px;
 display:block;
 margin-top: 40px;
}
}
#oldmain {
  position: relative;
  height: 100%;
  width: 100%;
  margin:auto;
   }
 #image_container {
   width: 80%;
   height: 80%;
   position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: white;
  position: relative;
  /* text-align: left; */
  padding-top: 25px;
}

#maintext {
  position: absolute;
  /* top: 20px; */
  /* right: 15px; */
  top: 90px;
  left: 60px;
  font-size: 2em;
  font-style: oblique;
  color: white; text-shadow: black 1.5em 1.5em 2em
  z-index: 10;

}
#subtext{
  position: absolute;
  /* top: 20px; */
  /* right: 15px; */
  bottom: 90px;
  right: 60px;
  font-size: 1.2em;
  font-style: oblique;
  color: white; text-shadow: black 1.5em 1.5em 2em
  z-index: 10;
}
* {
  box-sizing: border-box;
}

/*.img-frame{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}/*
/*
.studypic {
  float: left;
  display: inline-block;
  margin:15px;
  background:transparent;
  padding:8px;
  border:.5em solid #999999;
}*/
.caption {
  text-align:center;
  margin-top:4px;
  font-size: 1.8em;
}
/*
.researchpic{
  float: right;
  display:inline-block;
  margin: 15px;
  background:transparent;
  padding:8px;
  border:.5em solid #999999;}
/*.column {
  overflow: hidden;
  display: block;
  margin: 20px;
  padding: 20px;
  top: 35px;
  height: auto;
  max-width: auto;
  overflow-x:auto;
}*/

.row {
  display: flex;
  margin-top: 20px;
}
.column {
  flex: 50%;
  padding-left: 5px;
}
/*#studyresearch{
 width: 80%;
 height: 80%;
 position: absolute;
 margin:auto;
 top:0;
 bottom:0;
 left:0;
 right:0;
 background-color: white;
 position: relative;
 padding-top: 25px;
 position: inline;
}*/
/*#studypic {
  overflow: hidden;
  position: inline;
  height: 50%;
  width: 50%;
  margin:auto;
  float:left;
  margin: 5px;
  padding-left: :5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
#researchpic {
overflow: hidden;
position: inline;
box-sizing: border-box;
height: 50%;
width: 50%;
margin: 5px;
padding: 5px;
padding-left: 5px;
padding-right: 5px;
margin-left: 5px
float: right;
object-fit: scale-down;
margin-bottom: 15px;
}/*
/* #studentquote{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}/*
*/
#studentquote {
  overflow: hidden;
  margin: 25px;
  padding: 20px;
  padding-left: 5px;
  padding-right: 5px;
  top: 20px;
  background-color: #f1f1f1;
  height: 40%;
  width: 100%;
  word-break: break-all;
  box-sizing: border-box;
}
h1 {
  font-size: 1.8em;
  font-style: oblique;
}
p {
  font-size: 1.3em
  word-break:break-all;
  float: right;
  word-wrap:
}
#peter {
  align: right;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
}
